body{
    margin: 0;
}
.header{
   
    background: linear-gradient(to bottom, #030303, #959598); 
    display: flex;
    height: 50px;
}
.h{
    margin: auto;
    color: aliceblue;
}
.images{
    position: relative;
    width: 100%;
    height: 50vh; /* Adjust the height as necessary */
    /* width: 100%;
    height: 100vh; */
} 
#firstimg{
    height: 100%;
    width: 100%;
}

.remain{
    margin-top: 30px;
    position: relative;
    width: 30%;
    height: 50vh;
    margin-left: 40px;
}

.lowerpart{
    margin-top: 500px;
    background-color:  #030303;
    width: 100%;
    height: 60vh;
    position: relative;
}
.para{
    width: 40%;
    color: aliceblue;
    margin-top:5px;
    padding-top: 100px;
    padding-left: 20px;
}

.blackimg{
    position: absolute;
    width: 30%;
    height: 50vh;
    right: 20px;
    top: 20px;
}